@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@plugin '@tailwindcss/forms';
@source '../node_modules/@skeletonlabs/skeleton-svelte';

html,
body {
    width: 100%;
    color: black;
    background-color: white;
}

h1 {
    @apply h1 pb-4;
}

h2 {
    @apply h2 pb-4;
}

h4 {
    @apply h4;
}

h5 {
    @apply h5;
}

.btn {
    min-height: 42px;
}

fieldset {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 0.5em;
    margin-bottom: 1em;
}

fieldset>div {
    @apply mx-4;
}

legend {
    padding: 0 0.5em;
    font-size: 24px;
}
