@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@plugin '@tailwindcss/forms';
@source '../node_modules/@skeletonlabs/skeleton-svelte';

html,
body {
    width: 100%;
    height: 100%;
    color: black;
}

h1 {
    @apply h1;
}

h2 {
    @apply h2;
}

h3 {
    @apply h3;
}
